aiohappyeyeballs
aiohttp
aiosignal
altair
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
backoff
beautifulsoup4
bleach
blinker
branca
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
customtkinter
cycler
darkdetect
debugpy
decorator
defusedxml
executing
fastjsonschema
Flask
folium
fonttools
fqdn
frozenlist
future
geocoder
gitdb
GitPython
h11
httpcore
httpx
idna
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
multidict
mysql-connector-python
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
opencage
overrides
packaging
pandas
pandocfilters
parso
phonenumbers
pillow
platformdirs
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
pure-eval
pyarrow
pycparser
pydeck
Pygments
pyparsing
pyperclip
python-dateutil
python-json-logger
pytz
pywinpty
PyYAML
pyzmq
QtPy
ratelim
referencing
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
scikit-learn
scipy
seaborn
Send2Trash
setuptools
six
smmap
sniffio
soupsieve
stack-data
streamlit
streamlit-option-menu
streamlit-space
streamlit-toggle
sudo
tenacity
terminado
threadpoolctl
tinycss2
tkintermapview
tkinterweb
toml
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
xgboost
xyzservices
yarl
